a {
    text-decoration: none;
}

header {
    height: 850px;
    background: url(../img/header_bg.jpg) no-repeat center;
    background-size: cover;
}

header .top {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}

header nav {
    line-height: 26px;
}

header nav menu li {
    display: inline-block;
    margin-left: 20px;
}

header nav a {
    color: #fff;
    padding: 5px;
    font-size: 16px;
    font-family: 'DinBold', sans-serif;
    text-transform: uppercase;
}

header nav a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    text-decoration: none;
}

header .title {

}

header .title h1 {
    font-size: 46px;
    color: #fff;
    font-family: 'DinLight', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 140px;
}

header .title h1 span {
    font-family: 'DinRegular', sans-serif;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 100px;
}

.divider-black {
    border: 1px solid black;
    width: 70px;
    margin: 30px auto;
}
.divider-white {
    border: 1px solid white;
    width: 70px;
    margin: 30px auto;
}

header .title .studio p {
    color: #fff;
    font-size: 20px;
    font-family: 'DinRegular', sans-serif;
    text-align: center;
    line-height: 30px;
}

header .title .view-btn {
    margin-top: 50px;
}

.btn {
    padding: 15px 87px;
    border: 1px solid #fff;
    color: #fff !important;
    font-family: 'DinBold', sans-serif;
    font-size: 16px !important;
    text-transform: uppercase;
    display: inline-block !important;
    border-radius: 0 !important;
}

.view-portfolio-btn {
    text-align: center;
}

.sectioncolor {
    background-color: #eee;
}

.portfolio {
    z-index: 999;
    top: -100px;
    position: relative;
    height: 1250px;
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.35);
}

 .title {
    text-align: center;
    padding-top: 65px;
    color: #212121;
}

.carousel {
    margin-top: 50px;
}

.title h2 {
    text-transform: uppercase;
    font-size: 64px;
    font-family: 'DinBold', sans-serif;
}

.title .divider {
    background-color: #212121;
}

.title h3 {
    font-size: 20px;
    font-family: 'DinRegular', sans-serif;
    line-height: 26px;
}

.next_button,
.prev_button {
    color: #eee;
    background-color: #212121;
    font-size: 50px;
    margin-top: 590px;
    padding: 18px 35px;
    z-index: 999;
    border-radius: 10em;
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.35);
}

.next_button {
    float: left;
    margin-left: 135px;
}

.prev_button {
    float: right;
    margin-right: 135px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    border: 1px solid black;
    border-radius: 20px;
}

.owl-theme .owl-controls .owl-page span:active {
    background: #000;
}

.slider-divider {
    width: 900px;
    border: 1px solid #e0e0e0;
    border-width: 1px 0 0 0;
    margin: auto;
}

.portfolio .view-btn {
    margin: 60px 0;
    text-align: center;
}

.portfolio .view-btn .btn {
    color: #1b1b1b !important;
    border: 1px solid #1b1b1b;
}

.team .members {
    max-width: 1200px;
    margin: 100px auto 0;
}


.team .members h2 {
    color: #fff;
    font-size: 50px;
}

.team .members h3 {
    color: #fff;
    font-size: 30px;
}

.team .members .project-manager {
    background: url('../img/project-manager.jpg') no-repeat, center;
    background-size: cover;
    height: 400px;
    padding-right: 0;
    padding-left: 0;
}

.team .members .project-manager .title {
    display: none;
}

.team .members .project-manager:hover .title {
    display: block;
    background: rgba(0,0,0,0.5);
    transition: all 350ms;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.team .members .designer-uxui {
    background: url('../img/designer.jpg') no-repeat, center;
    background-size: cover;
    height: 400px;
    padding-right: 0;
    padding-left: 0;
}

.team .members .designer-uxui .title {
    display: none;
}

.team .members .designer-uxui:hover .title {
    display: block;
    background: rgba(0,0,0,0.5);
    transition: all 350ms;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.team .members .front-end {
    background: url('../img/front-end.jpg') no-repeat, center;
    background-size: cover;
    height: 400px;
    padding-right: 0;
    padding-left: 0;
}

.team .members .fa {
    border-radius: 50%;
    margin: 0.90em;
    font-size: 2em;
    background: #fff;
    color: #333;
    padding: 0.60em 0.80em;
}

.team .members .front-end .title {
    display: none;
}

.team .members .front-end:hover .title {
    display: block;
    background: rgba(0,0,0,0.5);
    transition: all 350ms;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.team .members .back-end {
    background: url('../img/back-end.jpg') no-repeat, center;
    background-size: cover;
    height: 400px;
    padding-right: 0;
    padding-left: 0;
}

.team .members .back-end .title {
    display: none;
}

.team .members .back-end:hover .title {
    display: block;
    background: rgba(0,0,0,0.5);
    transition: all 350ms;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.pricelist {
    margin: 0 auto;
    top: 100px;
    max-width: 1000px;
    height: 1465px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.35);
    box-sizing: border-box;
    padding: 30px 70px;
    position: relative;
}

.top-block,
.bottom-block {
    border-bottom: 1px solid #e0e0e0;
    padding: 30px 0 30px;
}

.top-block {
    height: 470px;
}

.bottom-block {
    height: 450px;
}

.landing,
.corporate,
.catalog,
.shop {
    height: 400px;
}

.landing,
.catalog {
    float: left;
}

.corporate,
.shop {
    float: right;
}

.landing,
.corporate,
.catalog,
.shop, h2:last-child {
    text-align: left;
    font-size: 40px !important;
}

.pricelist .btn {
    color: #1b1b1b !important;
    border: 1px solid #1b1b1b !important;
    margin: 0 !important;
}

.pricelist .description h3 {
    font-size: 20px;
    color: #212121;
    font-family: 'DinRegular', sans-serif;.
}

.pricelist .price h3 {
    font-size: 40px;
    color: #212121;
    font-family: 'DinRegular', sans-serif;
}

.pricelist .development {
    margin-bottom: 50px;
    text-align: center;
    padding: 30px 0 30px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 20px;
    font-family: 'DinRegular', sans-serif;
    color: #212121;
}

.learnmorebtn {
    text-align: center;
}

.composition {
    max-width: 1070px;
    margin-left: auto !important;
    margin-right: auto !important;
    height: 1300px;
}

.command {
    border-bottom: 1px solid #bdbdbd;
    height: 430px;
    margin-top: 80px;
}

.command-h2 {
    font-size: 40px;
    font-family: 'DinRegular', sans-serif;
    color: #212121;
    font-weight: bold;
}

.command-h3 {
    font-size: 20px;
    font-family: 'DinRegular', sans-serif;
    color: #212121;
}

.contacts .title {
    padding-top: 50px;
}

.contacts .communications {
    height: 100px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.pbold {
    font-size: 40px;
    color: #212121;
    font-family: 'DinRegular', sans-serif;
    font-weight: bold;
    line-height: 36px;
}

.spanlight {
  font-size: 24px; 
  font-weight: 100; 
}

/*footer*/

footer {
    height: 250px;
    background-color: #212121;
}

footer .topbtn {
    position: relative;
    top: -14%;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50px;
    background-color: #2196f3;
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.35);
}

footer .topbtn .fa {
    font-size: 50px;
    padding: 8px 19px;
    color: #fff;
}

footer .company {
}

footer .company .webextitle {
    border-bottom: 1px solid #616161;
}

footer .company .webextitle h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: 'DinBold', sans-serif;
    font-weight: bold;
    font-size: 43px;
    padding: 30px;
}

footer .company .production {

}

footer .company .production h3 {
    color: #616161;
    font-family: 'DinLight', sans-serif;
    font-size: 16px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}