nav ul {
	display: none;
}

#open-menu {
	float: right;
	display: block;
}
#open-menu img {
	width: 40px;
}
#logo-in-nav a {
	line-height: normal;
}
#uncol-menu {
	background-color: white;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	z-index: 100;
	text-align: center;
	font-size: 1.5em;
	padding-top: 25px;
}
#close-menu {
	position: absolute;
	right: 35px;
	top:20px;
	width: 40px;
}
#uncol-menu ul {
	padding: 0;
}
#uncol-menu ul li {
	list-style-type: none;
	padding: 3% 0;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
#uncol-menu ul li:hover {
	border: 1px solid black;
}
#uncol-menu ul li a {
	color: black;
}
.main h1 {
	font-size: 3.5em;
	padding-top: 5%;
}