.services-page .services-page-examples {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .services-page .services-page-examples {
        margin-top: 40px;
    }
}

.services-page .custom-dropdown-toggle {
    color: black;
    float: left;
    padding: 0 15px;
}

.services-page .custom-dropdown-toggle .fa-angle-down {
    position: absolute;
    right: 15px;
    font-size: 40px;
}
