@media (max-width: 767px) {
  html,
  body {
    overflow-x: hidden; } }

a,
a:hover,
a:active,
a:visited,
a:focus {
  color: black; }

@media (max-width: 767px) {
  .container {
    padding-left: 0;
    padding-right: 0; } }

header.row {
  border-bottom: 1px solid #bdbdbd;
  background: white; }
  header.row:hover {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    box-shadow: 0px 10px 20px 0px rgba(27, 27, 27, 0.35); }
  @media (max-width: 767px) {
    header.row {
      margin-left: 0;
      margin-right: 0; } }

.static-menu {
  background-color: white; }

@media (min-width: 1200px) {
  .logo-in-nav {
    margin-left: 0; } }

.menu a:after {
  border-bottom: 2px solid black; }

@media (max-width: 767px) {
  .bars i {
    color: black; } }

@media (max-width: 767px) {
  .services-page {
    padding-right: 0;
    padding-left: 0; }
    .services-page .row {
      margin-left: 0;
      margin-right: 0; } }

.services-page h1,
.services-page h2 {
  text-align: center;
  text-transform: uppercase; }

.services-page h1,
.services-page h2,
.services-page p {
  color: black; }

.services-page h1 {
  font-size: 50px; }

@media (max-width: 767px) {
  .services-page h1 {
    font-size: 60px;
    text-align: center; } }

@media (max-width: 375px) {
  .services-page h1 {
    font-size: 40px; } }

.services-page h2 {
  font-size: 30px;
  margin-bottom: 40px; }
  @media (min-width: 376px) and (max-width: 767px) {
    .services-page h2 {
      font-size: 40px; } }

.services-page hr {
  background-color: #2196f3; }

.services-page .full-width {
  height: 1px;
  background-color: #bdbdbd; }

.services-page .button {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px; }

.services-page .tabs {
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-bottom: 1px solid #bdbdbd; }
  @media (max-width: 767px) {
    .services-page .tabs {
      margin-top: 20px;
      border-bottom: none; } }

.services-page .tabs li {
  display: inline-block;
  padding: 0 10px 0 0;
  margin-left: 0;
  margin-right: 8px; }
  .services-page .tabs li:last-child {
    margin-right: 0;
    padding-right: 0; }
  @media (max-width: 1023px) {
    .services-page .tabs li {
      margin-right: 0; } }

.services-page .active > a {
  color: #2196f3 !important;
  border-bottom: 2px solid #2196f3; }
  @media (max-width: 767px) {
    .services-page .active > a {
      border-bottom: 5px solid #2196f3; } }

.services-page .tabs a {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 3px; }
  @media (max-width: 767px) {
    .services-page .tabs a {
      font-size: 40px;
      padding-bottom: 25px; } }
  @media (max-width: 413px) {
    .services-page .tabs a {
      font-size: 30px;
      padding-bottom: 23px; } }
  @media (max-width: 325px) {
    .services-page .tabs a {
      font-size: 28px; } }
  .services-page .tabs a:hover {
    color: #2196f3;
    border-bottom: 2px solid #2196f3; }
    @media (max-width: 767px) {
      .services-page .tabs a:hover {
        border-bottom: 5px solid #2196f3; } }

.services-page .services-page-main {
  margin-top: 40px; }

.services-page .services-page-main p {
  text-align: center; }

.services-page .services-page-examples {
  margin-top: 50px;
  margin-bottom: 50px; }
  .services-page .services-page-examples h2 {
    margin-top: 40px; }
  .services-page .services-page-examples .img-group {
    padding: 0; }
    .services-page .services-page-examples .img-group:hover .hidden-img {
      display: block; }

@media (max-width: 767px) {
  footer {
    padding-left: 0;
    padding-right: 0; }
    footer .row {
      margin: 0 2%; } }

.swiper-slide {
  width: 60%; }

.swiper-slide:nth-child(2n) {
  width: 100%; }

.swiper-slide:nth-child(3n) {
  width: 100%; }

.swiper-slide:nth-child(4n) {
  width: 100%; }

.swiper-slide:nth-child(5n) {
  width: 100%; }
