.row {
	margin-right:0;
	margin-left:0;
}
h1 {
	text-transform: uppercase;
}
.container{
	padding: 0;
}
.header-projects-page {
	background: white;
	position: fixed;
	z-index: 100;
	width: 100%;
	color: #333;
}
.default {
	box-shadow: none;
}
.shadow {
	box-shadow: 0 0 10px rgb(192,192,192);
}
a, a:hover, a:active, a:visited, a:focus{
	color: #333;
}
.top {
	padding: 2% 2% 1% 1%;
}
.menu a:after {
	border-bottom: 2px solid black;
}
#uncol-menu {
	z-index: 110;
}

hr {
	width: 100%;
	margin: 0;
}
.projects-main {
	padding-left: 0;
	padding-right: 0;
	padding-top:7%;
	text-align: center; 
}
.projects-main h1 {
	font-size: 3.5em;
}
.projects-main hr {
	width: 70px;
	height: 2px;
	background-color: #2196f3;
	border:none;
	margin: 4% auto;
}
.proj-menu-div {
	padding: 0 3%;
	overflow-x: hidden;
}

#proj-menu {
	margin: 5% auto;
	width: 800px;
}
#proj-menu ul{
	margin: 0;
	padding: 0;
}
#proj-menu ul li  {
	display: inline-block;
	border-bottom: 1px solid #bdbdbd;
	padding: 0 3.5%;
}
#proj-menu ul li a {
	text-transform: uppercase;
	color: #bdbdbd;
	padding-bottom: 2px;
	font-size: 17px;
}
#proj-menu .active-proj-menu-el a {
	color: #2196f3;
	border-bottom: 3px solid #2196f3;
}
.projects {
	padding: 0!important;
}
.projects img {
	width: 100%;
	height: 100%;
}
.projects div {
	padding: 0;
}
.footer-navigation {
    top: -60%;
}
@media (max-width: 767px){
	.bars i {
	    color: black;
	}
	.projects-main h1 {
	font-size: 3em;
	padding-top: 10%;
	}
}