@import "breakpoint";
@charset "UTF-8";
.services-page{
    .services-page-examples {
        margin-top: 50px;
        margin-bottom: 50px;
        @include breakpoint (max-width 767px) {
            margin-top: 40px;
        }
    }
      .custom-dropdown-toggle {
                color: black;
                float: left;
                padding: 0 15px;
                .fa-angle-down {
                    position: absolute;
                    right: 15px;
                    font-size: 40px;
                }
            }
}
