    @import "breakpoint";
    @charset "UTF-8";
    html,
    body {
        @include breakpoint (max-width 767px) {
            overflow-x: hidden;
        }
    }
    a,
    a:hover,
    a:active,
    a:visited,
    a:focus {
        color: black;
    }
    .container {
        @include breakpoint (max-width 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    header.row {
        border-bottom: 1px solid #bdbdbd;
        &:hover {
            transition: all 0.4s ease-out;
            box-shadow: 0px 10px 20px 0px rgba(27, 27, 27, 0.35);
        }
        @include breakpoint (max-width 767px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .static-menu {
        background-color: white;
    }
    .logo-in-nav {
        @include breakpoint (min-width 1200px) {
            margin-left: 0;
        }
    }
    .menu a:after {
        border-bottom: 2px solid black;
    }
    .bars i {
        @include breakpoint (max-width 767px) {
            color: black;
        }
    }
    .portfolio-page {
        padding-left: 2%;
        padding-right: 2%;
        @include breakpoint (max-width 767px) {
            padding-right: 0;
            padding-left: 0;
            .row {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .arrow-previous {
            text-transform: uppercase;
            margin-top: 25px;
            display: block;
            &:hover,
            :active,
            :focus {
                color: rgb(0, 172, 238);
            }
        }
        .fa-angle-left {
            margin-right: 5px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 0;
            color: black;
        }
        hr {
            float: left;
            background: #2196f3;
            width: 54px;
            @include breakpoint (max-width 767px) {
                float: none;
            }
        }
        p {
            margin-top: 50px;
            margin-bottom: 30px;
            color: black;
            @include breakpoint (max-width 767px) {
                margin-top: 0;
                text-align: center;
            }
        }
        .button {
            @include breakpoint (max-width 767px) {
                width: 100%;
            }
        }
        .project-description-block {
            margin-top: 10px;
        }
        .project-description-block,
        .idea-block {
            margin-bottom: 50px;
        }
        .idea-block {
            @include breakpoint (max-width 767px) {
                margin-top: 50px;
            }
        }
        .idea-block img {
            float: right;
            @include breakpoint (max-width 767px) {
                float: none;
            }
        }
        .img-responsive {
            @include breakpoint (max-width 767px) {
                width: 100%;
            }
        }
    }
    footer {
        @include breakpoint(max-width 767px) {
            padding-left: 0;
            padding-right: 0;
            .row {
                margin: 0 2%;
            }
        }
    }
