@import "breakpoint";
@charset "UTF-8";
.services-page {
    .services-page-description {
        margin-top: 40px;
        word-wrap: normal;
        @include breakpoint(max-width 767px) {
            margin-top: 20px;
        }
        .terms-price {
            font-size: 30px;
            @include breakpoint(max-width 767px) {
                font-size: 20px;
            }
        }
        .pre-top {
            position: absolute;
            right: 165px;
            text-transform: uppercase;
            @include breakpoint (max-width 767px) {
                right: 33px;
            }
        }
        .pre-bottom {
            position: absolute;
            right: 180px;
            top: 50px;
            text-transform: uppercase;
            @include breakpoint (max-width 767px) {
                line-height: 26px;
                top: 93px;
                right: 45px;
            }
        }
        .after-top {
            position: absolute;
            right: 33px;
            @include breakpoint (max-width 767px) {
                top: 44px;
                right: 12px;
            }
        }
        .after-bottom {
            position: absolute;
            right: 70px;
            top: 50px;
            @include breakpoint (max-width 767px) {
                top: 133px;
                right: 25px;
            }
            &.less-1K {
                right: 70px;
                @include breakpoint (max-width 767px) {
                    right: 33px;
                }
            }
        }
        .vertical-line {
            border-left: 1px solid #212121;
            height: 100%;
            p {
                font-size: 22px;
                margin-left: 20px;
                @include breakpoint(max-width 767px) {
                    font-size: 24px;
                }
            }
        }
    }
    .more-examples {
        margin: 50px 0;
        &:hover {
            color: white;
        }
        @include breakpoint(max-width 767px) {
            width: 100%;
        }
    }
}
