@import "breakpoint";
@charset "UTF-8";
@font-face {
    font-family: pfd;
    src: url(../fonts/PFDinTextCondPro-Regular.ttf);
}
@font-face {
    font-family: pfd-Bold;
    src: url(../fonts/PFDinTextCondPro-Bold.ttf);
}
body {
    font-family: pfd, 'Verdana', "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
    font-size: 17px;
    margin: 0;
    word-wrap: break-word;
}
.bold {
    font-family: pfd-Bold, sans-serif;
}
h1,
h2,
h3 {
    font-family: pfd-Bold, sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 48px;
}
.container {
    width: 100%;
}
.full-width {
    width: 100%;
}
.gray-color {
    background: #e0e0e0;
    height: 1px;
}
.header-home-page {
    background: url(../img/header_bg_sqr.png) no-repeat center;
    background-size: cover;
}
a {
    font-size: 16px;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    color: white;
}
span {
    font-size: 17px;
}
.top {
    padding: 2%;
}
@media (max-width: 767px) {
    .top:hover {
        background: white;
        box-shadow: 0 0 10px silver;
        -webkit-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
    }
    .top:hover .fa-bars {
        color: black;
    }
    .top:hover .logo-in-nav a {
        color: black;
    }
}
.static-menu {
    background: transparent;
    width: 100%;
}
.static-menu ul {
    float: right;
    padding: 0;
    margin-top: 1%;
    text-align: justify;
    width: 80%;
}
.static-menu ul li {
    display: inline-block;
    padding: 0 2%;
    float: right;
}
.logo-in-nav {
    float: left;
    margin-left: 2%;
}
.logo-in-nav a {
    font-size: 33px;
    text-transform: uppercase;
}
.menu a {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    border-bottom: 2px solid white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.menu a:hover:after,
.menu a:active:after {
    width: 100%;
}
.lead-text {
    width: 100%;
    margin: 7% 0 22% 0;
    padding: 10%;
    text-align: center;
    color: white;
}
.lead-text p {
    margin-bottom: 20px;
}
.lead-text .pre-main-title {
    font-size: 1.5em;
    margin-bottom: 0;
    line-height: 1.222;
    margin-top: 11%;
    text-transform: uppercase;
}
.main-title {
    font-size: 4em;
    margin-top: 0;
    line-height: 0.9em;
    text-transform: uppercase;
}
@media (min-width: 660px) and (max-width: 767px) {
    .lead-text .arrow-button i {
        right: 46%;
    }
}
.button {
    display: inline-block;
    font-family: pfd-Bold, sans-serif;
    padding: 15px 30px;
    border: 1px solid white;
    cursor: pointer;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
}
.button:focus {
    outline: none;
}
.button-black {
    border: 1px solid black;
    background: transparent;
}
.button:hover,
.button:active,
.button:focus {
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border-color: #2196f3;
    background-color: #2196f3;
}
.white {
    background-color: white;
}
hr {
    border: none;
    background-color: #282828;
    height: 2px;
    width: 70px;
}
@media (max-width: 1200px) {
    .pre-name {
        margin-top: 5%;
    }
}
@media (max-width: 990px) {
    body {
        font-size: 17px;
    }
    .pre-name {
        margin-top: 11%;
    }
}
.about {
    background: #eeeeee;
}
.white-realm {
    width: 100%;
    color: black;
    text-align: center;
    padding: 5% 0;
    background: white;
    position: relative;
    bottom: 50px;
    box-shadow: 0 0 22px 3px rgba(0, 0, 0, 0.75);
}
.black-bg {
    background: black;
}
.white-realm .button {
    margin: 5% auto 0;
    color: black;
    width: 100%;
}
.white-realm .btn-more-pj {
    margin: 15% auto 0;
    @include breakpoint (max-width 991px) {
        margin: 10% auto 0;
    }
}
.white-realm .button:hover,
.white-realm .button:active,
.white-realm .button:focus {
    color: white;
}
.team {
    text-align: center;
}
.entire-team {
    margin-top: 5%;
    margin-bottom: 5%;
}
.entire-team .col-lg-6,
.entire-team .col-md-6,
.entire-team .col-sm-6,
.entire-team img {
    margin: 0;
    padding: 0;
}
.photo:hover .about_person {
    display: block;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
@media (min-width: 2060px) {
    .swiper-container {
        width: 1000px;
    }
}
.hidden-img {
    display: none;
    position: absolute;
    top: 0;
}
.swiper-slide:hover .hidden-img {
    display: block;
}
.position-left {
    left: 0;
}
.position-right {
    right: 0;
}
.about_person {
    position: absolute;
    top: 0;
    width: 300px;
    height: 400px;
    display: none;
    background-color: rgba(33, 33, 33, 0.7);
    color: white;
    padding: 30% 5%;
}
@media (max-width: 899px) {
    .about_person {
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 1200px) {
    .about_person {
        padding-top: 70px;
    }
}
.name {
    font-size: 1.75em;
    text-transform: uppercase;
    line-height: 1em;
}
@media (max-width: 990px) {
    .name {
        font-size: 2.5em;
    }
    .about_person {
        padding: 35% 10%;
    }
}
@media (max-width: 810px) {
    .name {
        font-size: 1.7em;
    }
}
.about_person hr {
    margin: 10% auto;
}
.position {
    font-size: 1.3em;
}
.fb {
    position: absolute;
    bottom: 10%;
    left: 43%;
    margin: auto;
    display: block;
    text-align: center;
    cursor: pointer;
}
.fb .fa-circle {
    color: white;
}
.fb .fa-facebook {
    color: black;
    opacity: 0.902;
}
@media (max-width: 1000px) {
    .fb {
        left: 42%;
    }
}
.swiper-customize-team {
    background-color: white;
    box-shadow: 0 0 22px 3px rgba(0, 0, 0, 0.75);
}
.swiper-customize-team .swiper-slide {
    padding: 50px;
}
.swiper-customize-team .name {
    margin-top: 40px;
    font-size: 30px;
}
.swiper-customize-team .position {
    font-size: 24px;
}
.swiper-customize-team img {
    box-shadow: 0 10px 20px 0 rgba(27, 27, 27, 0.35);
}
.swiper-customize-team .fb-visible-xs {
    text-align: center;
    cursor: pointer;
    margin: auto;
    display: block;
}
.swiper-customize-team .fb-visible-xs .fa-circle {
    color: black;
}
.swiper-customize-team .fb-visible-xs .fa-facebook {
    color: white;
}
.breeds {
    text-align: left;
    padding: 5% 10%;
}
@media (max-width: 990px) {
    .breeds {
        padding: 5% 5%;
    }
}
.breeds h3 {
    text-transform: uppercase;
    margin-bottom: 2%;
    min-height: 50px;
}
.breeds p {
    margin: 8% 0;
}
.breedsDescr {
    height: 5em;
}
.breeds .price {
    font-size: 1.5em;
}
.breeds .button {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.additional-text {
    margin: 40px 0 10px;
}
.greyHr {
    background: #e0e0e0;
    height: 1px;
    width: 90% !important;
    margin-bottom: -10px;
}
.price-table {
    top: 50px;
}
.descript {
    padding-top: 40px;
}
.descript h2 {
    font-family: pfd, sans-serif;
    text-align: center;
}
.descript .center {
    text-align: center;
}
.worker {
    text-align: left;
    padding: 2% 1%;
}
.worker h3 {
    min-height: 60px;
    font-size: 1.7em;
}
.contacts h3 {
    font-size: 1.7em;
    margin-bottom: 10%;
}
.contacts .mail-title {
    margin-bottom: 0;
}
.contacts {
    text-align: center;
    padding: 0;
}
.contacts .full-width {
    margin-bottom: 40px;
}
.contacts .button {
    color: black;
}
.contacts .button:hover,
.contacts .button:active,
.contacts .button:focus {
    color: white;
}
.contacts h3 {
    text-align: center;
}
.contacts h4 {
    font-size: 2em;
}
.contacts input,
.contacts .button,
.contacts textarea {
    width: 100%;
    margin: 0;
}
form + .success {
    border-top: 1px solid #2196f3;
    border-bottom: 1px solid #2196f3;
    color: #2196f3;
    text-align: center;
}
form + .error {
    border-bottom: 1px solid #d50000;
    border-top: 1px solid #d50000;
    color: #d50000;
}
.success p,
.error p {
    margin: 15px auto;
}
form .plus .addFile {
    display: none;
}
form .plus span {
    font-size: 24px;
    margin-left: 50px;
    color: black;
}
form .plus i {
    background: url(../img/plus.png);
    width: 26px;
    height: 26px;
    background-size: 26px;
    position: absolute;
}
input,
textarea {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}
.write-us {
    text-align: left;
    margin-bottom: 30px;
}
label {
    margin-left: 0;
}
.mail-text-hidden-xs,
.mail-text-visible-xs {
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.mail-text-hidden-xs:hover,
.mail-text-hidden-xs:active,
.mail-text-hidden-xs:focus,
.mail-text-visible-xs:hover,
.mail-text-visible-xs:active,
.mail-text-visible-xs:focus {
    color: black;
    text-decoration: underline;
}
footer {
    margin-top: 40px;
    padding-bottom: 15px;
    color: #616161;
    background: #212121;
    padding-left: 2%;
    padding-right: 2%;
}
.upArr {
    margin: auto;
    position: relative;
    top: -25px;
    display: block;
    text-align: center;
    background-size: contain;
    width: 70px;
    height: 70px;
    background: #2196f3;
    border-radius: 50%;
    cursor: pointer;
    font-size: 17px;
    margin-bottom: 15px;
}
.upArr:hover,
.upArr:focus {
    outline: none;
    box-shadow: 0 10px 20px 0 rgba(27, 27, 27, 0.35);
}
.upArr .fa-chevron-up {
    margin-top: 25px;
    color: white;
}
.upArr:hover .fa-chevron-up {
    color: black;
}
footer hr {
    background: #616161;
    height: 1px;
}
footer h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 33px;
}
footer .behance {
    font-size: 24px;
    color: #616161 !important;
}
footer .behance:hover {
    color: white !important;
}
.footer-navigation {
    position: absolute;
    top: -30%;
    padding: 0;
}
.footer-navigation li {
    list-style: none;
}
.footer-navigation li a {
    text-transform: uppercase;
    color: #616161;
}
.footer-navigation li a:hover {
    color: white;
}
@media (min-width: 768px) {
    footer span {
        font-size: 16px;
    }
}
@media (max-width: 767px) {
    .static-menu ul {
        display: none;
    }
    body {
        font-size: 20px;
    }
    .bars {
        float: right;
        margin-top: 15px;
        cursor: pointer;
    }
    .bars i {
        color: white;
        font-size: 50px;
    }
    .bars i:hover {
        color: black;
    }
    .bars i:hover .top {
        background: white;
    }
    .bars i:hover .logo-in-nav a {
        color: black;
    }
    .logo-in-nav a:hover .bars i {
        color: black;
    }
    .logo-in-nav a:hover .top {
        background: white;
    }
    .toggle-menu {
        z-index: 100;
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        font-size: 1.5em;
        padding-top: 25px;
        display: none;
    }
    .toggle-menu .logo-in-nav a {
        color: black;
    }
    .toggle-menu ul li a,
    .toggle-menu p {
        font-size: 40px;
    }
    .descript {
        padding-top: 0;
    }
}
@media (max-width: 450px) {
    .toggle-menu ul li a,
    .toggle-menu p {
        font-size: 26px;
    }
}
@media (max-width: 767px) {
    .close-menu {
        position: absolute;
        right: 15px;
        top: 20px;
        width: 40px;
    }
    .toggle-menu ul {
        padding: 0;
    }
    .toggle-menu ul li {
        list-style-type: none;
        padding: 15px 30px;
        text-align: center;
        width: 85%;
        margin: 0 auto;
    }
    .toggle-menu ul li:hover {
        border: 1px solid black;
    }
    .toggle-menu ul li a {
        color: black;
    }
    a,
    .mail-text-visible-xs {
        font-size: 24px;
    }
}
@media (max-width: 375px) {
    a,
    .mail-text-visible-xs {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .breeds-xs {
        padding: 5%;
    }
    .button-full-width-xs {
        width: 100%;
    }
    .logo-in-nav {
        font-size: 50px;
    }
    .logo-in-nav a {
        line-height: 0.28;
        font-size: 50px;
    }
}
@media (max-width: 375px) {
    .logo-in-nav a {
        font-size: 35px;
    }
}
@media (max-width: 767px) {
    .lead-text {
        margin: 10% 0 25% 0;
        padding: 10% 0;
    }
}
@media (max-width: 420px) {
    .lead-text {
        padding: 0 0 10%;
    }
}
@media (max-width: 375px) {
    .lead-text {
        margin: 10% 0 35% 0;
    }
}
@media (max-width: 767px) {
    .lead-text p {
        font-size: 24px;
        line-height: 1.167;
    }
}
@media (max-width: 375px) {
    .lead-text p {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .lead-text .pre-main-title {
        line-height: 1.1;
        font-size: 40px;
    }
}
@media (max-width: 450px) {
    .lead-text .pre-main-title {
        font-size: 26px;
    }
}
@media (max-width: 767px) {
    .main-title {
        font-size: 100px;
        letter-spacing: 10px;
    }
}
@media (max-width: 450px) {
    .main-title {
        font-size: 60px;
    }
}

/*@media (max-width: 767px) and (max-width: 320px) {
    .main-title {
        font-size: 50px;
    }
    .lead-text .pre-main-title {
        font-size: 22px;
    }
    .swiper-customize-team .name, .position {
        font-size: 20px;
    }
}*/

@media (max-width: 767px) {
    .lead-text .arrow-button {
        margin-top: 25px;
    }
    .lead-text .arrow-button i {
        background: url(../img/arrow.png);
        width: 46px;
        height: 27px;
        position: absolute;
        right: 45%;
    }
}
@media (max-width: 370px) {
    .lead-text .arrow-button i {
        right: 41%;
    }
}
@media (min-width: 370px) and (max-width: 450px) {
    .lead-text .arrow-button i {
        right: 43%;
    }
}
@media (min-width: 645px) and (max-width: 768px) {
    .lead-text .arrow-button i {
        right: 46%;
    }
}
@media (max-width: 767px) {
    span {
        font-size: 24px;
    }
}
@media (max-width: 375px) {
    span {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .cost-title {
        font-size: 40px;
        font-weight: normal;
    }
}
@media (max-width: 375px) {
    .cost-title {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 60px;
        text-align: center;
    }
}
@media (max-width: 375px) {
    h2 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    h3 {
        font-size: 40px;
        margin-bottom: 10px !important;
    }
}
@media (max-width: 375px) {
    h3 {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    p {
        font-size: 24px;
    }
}
@media (max-width: 375px) {
    p {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .breeds h3,
    .breeds p {
        text-align: center;
    }
    .breeds p {
        margin: 0;
    }
    .breeds .price {
        font-size: 36px;
    }
    .breeds .button {
        margin-top: 20px;
    }
}
@media (max-width: 375px) {
    .breeds .price {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .black-bg {
        background: #2196f3;
    }
    .button {
        font-size: 24px;
    }
}
@media (max-width: 375px) {
    .button {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .worker h3 {
        font-size: 30px;
        min-height: 0;
    }
}
@media (max-width: 375px) {
    .worker h3 {
        font-size: 22px;
    }
}
@media (max-width: 767px) {
    .contacts h3 {
        font-size: 34px;
        text-align: center;
    }
}
@media (max-width: 375px) {
    .contacts h3 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    .contacts p {
        text-align: center;
    }
    .contacts input,
    .contacts .button {
        width: 100%;
        margin: 0;
    }
    .contacts form {
        margin: 0;
    }
    form input,
    form textarea {
        font-size: 40px;
        color: black;
    }
}
@media (max-width: 375px) {
    form input,
    form textarea {
        font-size: 30px;
    }
}
@media (max-width: 767px) {
    form label {
        font-size: 24px;
    }
}
@media (max-width: 375px) {
    form label {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    form .plus span {
        font-size: 24px;
        margin-left: 50px;
        color: black;
    }
    .mail-text-visible-xs {
        margin-bottom: 40px;
    }
}
@media (max-width: 375px) {
    form .plus span {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .hr-2 {
        width: 100%;
        height: 1px;
        background: #e0e0e0;
        margin: 0;
    }
    footer {
        margin-top: 5%;
        .upArr {
            margin-bottom: 0;
        }
    }
    footer h2 {
        font-size: 60px;
    }
}
@media (max-width: 375px) {
    footer h2 {
        font-size: 40px;
    }
}
.breeds .btn-more-info {
    margin-bottom: 0px;
    @include breakpoint(375px 767px) {
        margin-bottom: -10px;
    }
    @include breakpoint(min-width 768px) {
        margin-bottom: -20px;
    }
}
.swiper-button-prev,
.swiper-button-next {
    background: transparent;
    color: transparent;
}
